<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat My Grub</title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/reset.css'>
  <link rel='stylesheet' type="text/css" href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
</head>
<body class="body-homepage">
  <div class="wrapper">
    <header class="header-homepage">

      
      <img class="symbol" src="/img/symbol_hp.svg" alt="eat-my-grub-logo-symbol" href="/">
     

      <nav class="nav-homepage">
        <% if !logged_in? %>
          <a class="btn-homepage" href="/sign_up">sign up</a>
          <a class="btn-homepage" href="/login">login</a>
        <% else %>
          <a class="btn-homepage" href="/events">all events</a>
          <a class="btn-homepage" href="/my_events">my events</a>
          <a class="btn-homepage" href="/my_reserved_events">my rsvp</a>
          <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="btn-logout-homepage">logout</button>
          </form>
       
        <% end %>
      </nav>    
    </header>
    <main>
      <h1>Eat my Grub</h1>

      <p class="welcome-intro-copy">Welcome to "Eat my Grub". Share your grub, create your event – instant resto, meet people. Do it for free or a bit moolah.<a class="btn-homepage" href="/sign_up">Sign up</a>now to start searching, be a host and eats some good grub !</p>
      
      <div class="search-container">
        <form class="search-field" action="/search">
            <input class="search-input" name="search_query" type="text" placeholder="Find some good grub...near you i.e melbourne">
            <button class="btn-search">search</button>
        </form>
      </div>
    </main>

      <footer>
      <p class="footer-homepage">&copy 2019 - Eat my grub</p> 
    </footer>
  </div>
</body>
</html>


