<h2>Sign up</h2>


<form action="/sign_up" method="post">
<label for="">username</label>
<input name="username" type="text">

<label for="">first name</label>
<input name="first_name" type="text">

<label for="">last name</label>
<input name="last_name" type="text">

<label for="">email</label>
<input name="email" type="text">

<label for="">password</label>
<input name="password" type="password">

<button>Sign up</button>

</form>