/*** GENERAL GLOBAL SET UP ***/

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(72,72,72);
    
}

*:focus {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }


/* header {
    flex: 0 0 auto;
} */


/*** HOMEPAGE ***/

.body-homepage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-image: url("/img/photo-homepage.jpg");
}

.header-homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,
h2,
label,
.nav-homepage,
.welcome-intro-copy,
.btn-homepage,
.btn-logout-homepage {
    color: rgba(255, 255, 255, 0.9);
}

h1,
h2
 {
    font-weight: 400;
    margin: 40px 0 0 70px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.welcome-intro-copy {
    margin: 20px 0 0 70px;
    max-width: 400px;
    font-weight: 300;
    line-height: 21px;
}

.symbol {
    height: 40px;
    width: 40px;
    margin: 20px;
    cursor: pointer;
}

.nav-homepage {
    margin: 20px;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
}

.btn-homepage {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-logout-homepage {
    border: 0;
    background: none;
}

.btn-homepage:hover,
.btn-logout-homepage:hover {
    color: rgba(218, 218, 218, 0.9);
}

.input-container {
    display: flex;
    margin: 30px 0 0 70px;
}

.input {
    width: 400px;
}

.input,
.input-small {
    opacity: 0.8;
}

.btn-search,
.btn-login,
.btn-sign-up {
    margin-left: 5px;
    border-radius: 1px;
    cursor: pointer;
    opacity: 0.8;
}

.btn-search:hover,
.btn-login:hover,
.btn-sign-up:hover {
    opacity: 0.9;
}

.event-container {
border: 1px solid black;
}

label {
    margin-right: 10px;
}

.label-right {
    margin-left: 18px;
}


























footer {
margin: auto auto 10px 15px;
/* position: fixed;
width: 100%;
bottom: 0; */
}

.footer-homepage {
    font-size: 12px;
    color: rgba(218, 218, 218, 0.7)
}